@import "/UI/Theme.scss";

SpawnMenuIcon
{
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	flex-grow: 1;
	width: 100%;
	position: relative;
	border-radius: 2px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;

	.title
	{
		background-color: rgba( 0, 0, 0, 0.72 );
		padding: 2px 4px;
		font-size: 10px;
		font-weight: 500;
		width: 100%;
		text-align: center;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		color: #d0d0d0;
		border-radius: 0 0 2px 2px;
	}
}
