@using Sandbox;
@using Sandbox.UI;
@inherits Panel
@namespace Sandbox

<root>
	<div class="search-field">
		<TextEntry class="filter menu-input menu-filter-input" placeholder="Filter.." Value:bind=@Query HasClearButton></TextEntry>
		<span class="search-emoji">🔎</span>
	</div>
</root>


@code
{
	public string Query { get; set; }
}

